# OpenSky Network
export CLIENT_ID = <opensky-client-id>
export CLIENT_SECRET = <opensky-slient-secret>
export OS_BASE_URL = "https://opensky-network.org/api"

# AeroAPI
export AERO_API_KEY = <aeroapi-api-key>
export AERO_BASE_URL = "https://aeroapi.flightaware.com/aeroapi"

# MapBox
export MAPBOX_TOKEN = <mapbox-api-key>
export MAPBOX_BASE_URL="https://api.mapbox.com/search/geocode/v6/forward"
