<div id="screensaver" class="screensaver" (click)="closeScreensaver()"></div>

<body [class.night]="isNight" [class.day]="!isNight">
  <div class="menu-flex">
    <button matIconButton [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="togglePolling()">Start/Stop App</button>
      <button mat-menu-item (click)="toggleFullscreen()">Toggle Fullscreen</button>
      <button mat-menu-item (click)="openScreensaver()">Screensaver</button>
      <button mat-menu-item (click)="openLocationDialog()">Set Location</button>
      <button mat-menu-item (click)="openSettingsDialog()">Settings</button>
    </mat-menu>
  </div>
  <div class="flex-container">
    <mat-card [class.night]="isNight" [class.day]="!isNight" appearance="filled">
      @if (loading) {
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            min-height: 300px;
          "
        >
          <mat-spinner [diameter]="50"></mat-spinner>
        </div>
      } @else {
        @if (this.lowestPlane) {
          @if (loading) {
            <mat-spinner [diameter]="50"></mat-spinner>
          }
          <mat-card-header class="header" animate.enter="enter-animation">
            <div class="airline-logo">
              <img [src]="imgSrc" />
            </div>
          </mat-card-header>
          <mat-card-content animate.enter="enter-animation">
            <br />
            <mat-card-title class="header bigger">{{ lowestPlane[1] }}</mat-card-title>
            <div class="header">{{ airline }}</div>
            <br />
            <div class="destinations">
              <mat-card-title class="bigger" [class.night]="isNight" [class.day]="!isNight">{{
                origin
              }}</mat-card-title>
              <mat-card-title class="big">✈</mat-card-title>
              <mat-card-title class="bigger" [class.night]="isNight" [class.day]="!isNight">{{
                destination
              }}</mat-card-title>
            </div>
            <br />
            <div class="info">
              <div class="grid">
                <div></div>
                <div>
                  <div><b>Flight Number</b></div>
                  <div><b>Altitude</b></div>
                  <div><b>Aircraft Type</b></div>
                </div>
                <div></div>
                <div>
                  <div>{{ flightNumber }}</div>
                  <div>{{ altitude }}</div>
                  <div>{{ aircraftType }}</div>
                </div>
                <div></div>
              </div>
            </div>
          </mat-card-content>
        } @else {
          <div class="no-planes">
            <mat-card-title
              class="bigger"
              [class.night]="isNight"
              [class.day]="!isNight"
              animate.enter="enter-animation"
              >No aircraft nearby ☁️</mat-card-title
            >
          </div>
        }
      }
    </mat-card>
  </div>
</body>
